__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.ipynb_checkpoints
*.pt
*.pth
*.ckpt
*.weights
*.h5
*.hdf5
checkpoints/
logs/
.vscode/
.idea/
.DS_Store
temp/
temp2/
*.avi
*.mp4
